{% extends "base.html" %}
{% block title %}

{% endblock title %}
{% block content %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Allocation Form</h2>
                <form method="POST"action="{% url 'allocation:allocate' %}?next=/"  enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                {{allocationform}}
                                {% comment %} <label class="label">first name</label>
                                <input class="input--style-4" type="text" name="first_name"> {% endcomment %}
                            </div>
                        </div>
                        
                    </div>
                   
                   
                    
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}